.forecast-section {
    margin-top: 100px;
}

.forecast-item {
  background-color: #414244;
  border-radius: 10px;
  margin: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}

.title {
    margin-left: 15px;
}

.forecast-item img {
    width: 60px;
}

.day {
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    text-align: right;
    margin-right: 15px;
}

.forecast-panel {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
}

.forecast-panel-item {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

@media(max-width: 480px) {
    .forecast-item img {
        width: 50px;
    }

    .forecast-item {
        padding: 0 5px 0 5px;
    }

    .description, .temp-range {
        font-size: 12px;
    }

    .forecast-panel {
        column-gap: 0;
    }

    .day {
        margin-left: 5px;
    }
}